// POPPINS

@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
}

//ELEPHANT

@font-face {
  font-family: 'Elephant';
  src: url('../assets/fonts/Elephant/ELEPHNT.TTF') format('truetype');
}

// RUFINA

@font-face {
  font-family: 'Rufina';
  src: url('../assets/fonts/Rufinia/Rufina-Bold.ttf') format('truetype');
}

// ROBOTOSLAB

@font-face {
  font-family: 'RobotoSlab';
  src: url('../assets/fonts/RobotoSlab/RobotoSlab-Medium.ttf')
    format('truetype');
}
